
.img{
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  width: 500px;
  height: 500px;
  border-radius: 250px;
}

.ReactCrop__image{
  max-height: none;
}

.pages{
  display: flex;
  flex-direction: row;
  height: 90vh;
  flex-wrap: wrap;
  width: 100%;
}

.sidebar{
  display: flex;
  height: inherit; 
  overflow: scroll initial;
}
